<div class="card shadow-sm connect-card mx-auto">
  <div class="card-body">
    <h2 class="h4 card-title mb-4">
      <!-- @if (mode() === 'signin') {
        Connexion
      } @else {
        Inscription
      } -->
        connexion ou inscription
    </h2>

    <form class="d-flex flex-column gap-3">
      <div>
        <label for="email" class="form-label">Adresse e-mail</label>
        <input
          id="email"
          type="email"
          class="form-control"
          autocomplete="email"
          aria-describedby="email-errors"
        />
          <div id="email-errors" class="text-danger small mt-1" aria-live="polite">
              <div>msg error</div>
          </div>
      </div>

      <div>
        <label for="password" class="form-label">Mot de passe</label>
        <input
          id="password"
          type="text"
          class="form-control"
          aria-describedby="password-errors"
        />
          <div id="password-errors" class="text-danger small mt-1" aria-live="polite">
              <div>error msg</div>
          </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="connectForm().invalid()">
        se connecter ou s'inscrire
      </button>
    </form>

    <p class="text-center mt-3 mb-0">
        Pas encore de compte ?
        <button type="button" class="btn btn-link p-0 align-baseline">
          Créer un compte
        </button>
        Déjà un compte ?
        <button type="button" class="btn btn-link p-0 align-baseline">
          Se connecter
        </button>
    </p>
  </div>
</div>
